@model ShopCartViewModel
<div class="container">
    @foreach (var el in Model.shopCart.listShopItems) {
    <div class="alert alert-warning mt-3">
        <b>Смартфон:</b> @el.electronic.name<br />
        <b>Цена:</b> @el.price.ToString("c")
    </div>
    }
    <hr />
    <a class=" btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>